<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h2>About Me</h2>
<br>
<h5>My name is Edwin Zhao-Wu and my goal is to spread word about Pangolins. Pangolins are a very endangered species, they're even at the point of extinction! Thats why I want to spread word more about these animals in order to get users to take interest in them, maybe they could maybe even donate to other pangolin conservation sites!</h5>
<img src="https://mail.google.com/mail/u/0?ui=2&ik=ba32213729&attid=0.1&permmsgid=msg-f:1732093633445994300&th=1809a1fb8b439f3c&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ-3xaBOlBXgp56DPHJ2OBUv8TtIzwCUm_JeuZ0iNlQ8eRUe8jde3lIwnKKyUcNoZEVFwIbY3Y-HMe4lX9prMLEmO9gbjaflncVh0_CMMDmhfLwn_uKALsBhRX4&disp=emb&realattid=6f1e417308ae005a_0.1.1"
width="auto"
height="450" />
{% endblock %}
