<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}


{% block body %}
<h1 class="text-center">Pangolin Conservation</h1>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <img src="https://www.expertafrica.com/images/animal/73500a24533a4fc4b1adaf1ac2e8ed05.jpg"
        width="650"
        height="450" />
      </div>
      <div class="col">
        <h2>Pangolins are the most trafficked wild mammals in the world. But it is not too late to save them from extinction</h2>
      </div>
    </div>
    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
    <div class="clearfix">
        <img src="https://media.npr.org/assets/img/2014/08/01/babypangolin_custom-1e50cdb28cb7ecacaee6eecc204db3fe30e9fdfc.jpg" width="150" height="450" class="col-md-6 float-md-end mb-3 ms-md-3">
      
        <p>
            All eight species of pangolins are threatened with extinction, according to the International Union for Conservation of Nature (IUCN) SSC Pangolin Specialist Group.
        </p>
      
        <p>
            The four Asian species are classified as Critically Endangered or Endangered, and the four African species are classified as Vulnerable. In 2016, pangolins gained the highest levels of protection under the Convention on the International Trade in Endangered Species of Wild Fauna and Flora (CITES) with the decision to uplist all 8 species to Appendix I. International trade in pangolins for commercial purposes  is prohibited by law.
        </p>
      
        <p>
            These protections will not stop the pangolin poaching crisis alone. Much more work needs to be done to stop the killing, trafficking, and demand for pangolins.
        </p>
      </div>
      <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
      <h2>Improving The Biological Knowledge Base</h2>
      <div class="clearfix">
        <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1555963728940-2VYULX5PTI5CQEAX9EOW/iStock-1125626951_Credit+Uniquesafarieye.jpg?format=750w" class="col-md-6 float-md-end mb-3 ms-md-3"
        width="350"
        height="350" />
      
<h5>Pangolins are secretive, solitary, and mostly nocturnal—and many mysteries remain about their natural history and behavior. We do not even have a solid estimate of how many pangolins remain in the wild. Conservationists and scientists are working to map the current distribution and range, and estimate population sizes. We are also researching their behavior and ecology so that we can identify ways to ensure their survival.</h5>
      </div>
      <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
      <h2>Training Rangers And Wildlife Authorities</h2>
      <div class="clearfix">
        <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1556492763162-1RPQ38VE273MYNAZHCYR/Pangolin-rangers_JenGuyton.jpg?format=750w" class="col-md-6 float-md-end mb-3 ms-md-3"
        width="450"
        height="350" />
      
        <h5>
          Enforcement efforts must be ramped up to deliver a real deterrent to the illegal pangolin trade. This means increasing the skills and knowledge of rangers and wildlife authorities in the areas where pangolins are being hunted by providing them with tools and resources to crack down on poaching and trafficking.
        </h5>
      </div>
      <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
      <h2>Education Initiatives</h2>
      <div class="clearfix">
        <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1556492913439-KD03ERVK1LL5JCN7S8JX/School+group+collage+WPD+Sabah_Elisa+Panjang.jpg?format=750w" class="col-md-6 float-md-end mb-3 ms-md-3"\
        height="350"
        width="350" />
      
        <h5>
          One major obstacle for pangolins is that most people do not know that they even exist. Public audiences around the world need to be educated about pangolins and their crisis in order to inspire action. Additionally, there is lack of resources and capacity to implement conservation programs, and low prioritization by governments and local communities to take action. Communities and local officials need to be fully aware of the benefits of pangolin conservation so that they can become involved in conservation action.
        </h5>
</div>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
<h2>Rescue And Rehabilitation Centers</h2>
<div class="clearfix">
  <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1556492947034-FAC35ONM1W4VVHF7R10W/Feeding-baby-pangolin_SuziEszterhas.jpg?format=750w" class="col-md-6 float-md-end mb-3 ms-md-3"
  width="350"
  height="350" />

  <h5>
    Pangolins are extremely difficult to maintain in captivity, and most die within a short period after capture. Most pangolin range states lack the capacity and infrastructure to care for injured pangolins that are seized from the illegal wildlife trade. Conservation efforts must emphasize stopping the removal of pangolins from the wild. Nevertheless, wildlife authorities are constantly seizing live pangolins from illegal traders, so it’s key to develop ways pangolins can be treated and rehabilitated in captivity so that they can be returned to their native habitats. 
  </h5>

</div>
{% endblock %}